
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

body {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;

}

#container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
} 

.form{
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}
.tweets-container{
 background-color:#D3D3D3;
  padding: 10px;
  flex: 50%;
  }

@media only screen and (min-width: 1024px)  {
  #container{
    flex-direction: row;
  }
}