
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #4056A1;
    height: 120px;
    width: 100%;
    padding: 1.5em;
    position: fixed;
  }

  .tweeter{
    font-family: "Bungee";
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-right: 10px;
    margin-top: 2px;
  }
  .tweetText{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    margin-top: 2px;
  }
  .double-down-angle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
  }
  