#container{
  background-color: #e5dede;
}

main section form div button{
  display: flex;
  align-items: center;
  background-color: #4056A1;
  font-family: "Bungee";
  margin-left:25px;
  margin-bottom: 10px;
}
.counter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: auto;
  margin: auto;
}
@keyframes moveArrow {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(10px); 
  }
  100% {
    transform: translateY(0); 
  }
}
.Arrow-icon{
  float: right;
  margin-top: auto;
  padding-bottom: 45px;
  animation: moveArrow 1s infinite;
}
#tweet-text{
  position: relative;
  background-color:#e5dede;
  width: 90%; 
  border-bottom: 2px solid gray; 
}
