
main article header div p img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
#tweets-container{
  position: relative;
  background-color:rgb(239, 197, 146);
  width: 90%; 
  margin: 0 auto;
  border: 5px solid gray;
  padding-bottom: 25px;
 
}
.footer{
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-top: 5px solid  gray;
  margin-left: 25px;
  margin-right: 25px;
}
.userInfo {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 97%;
}
.userInfo img {
  max-width: 50px;
  margin-right: 10px;
}
.userInfo h2 {
  margin: 0;
}
.userInfo p{
  margin-left: auto;
}

.userInfo div {
  display: flex;
  align-items: center;
}
.avatarAndName {
  display: flex;
  justify-content: left;
  width: 40px;
  height: 40px; 
  border-radius: 50%; 
  margin-right: 10px
}
.eachcontainer{
  border: 2px solid #333333;
  padding-top: 10px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;

}
 .eachcontainer:hover {
  box-shadow: rgba(52, 52, 121, 0.25) 0px 30px 60px -12px inset;
} 
.icons{
  position: relative;
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  border:25px;
}
 .icons i:hover {
  color: red; /* Change the color of flags,share and heart icons when someone hovers on it */
 } 
 